services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000"     
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - eventora-net

  redis:
    image: redis:7
    networks:
      - eventora-net

networks:
  eventora-net:
